.MabsanWay{
    width: 100%;
    transition: all .3s;
    z-index: 0;
}

.image-container {
    position: relative;
    width: 100%;
  }
  
  
  .cls-1 {
    font-size: 150px;
    fill: #fefefe;
    text-anchor: middle;
    font-family: 'Anybody', sans-serif;       
    z-index: 1;
  }
  