
.carousel_blog {
    position: relative;
    width: 100%;
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: hidden; /* Hide vertical overflow */
  }
  
  .container_blog {
    display: flex;
    padding: 0%;
    margin: 0%;
    flex-direction: row;
  }
  
  .blocks_blog{
    background-color:white;

  }
  
  /* Hide scrollbar */
  .carousel_blog::-webkit-scrollbar {
    display: none;
  }
  
  .scroll-button {
    display: none; /* Hide scroll buttons */
  }
  
  
  .blog_sektor {
    opacity: 1;
    transition: width 0.3s ease; /* Add transition property */
    width: 1104px;
    height: 400px;
  }
    
  .blog_label {
    color: black;
    text-align: left;
    font-size: 80%;
  }

  .blog_sektor:hover .blog_label {
    color: red;
  }

  
  /* Define animation classes for sliding up and down */
  .slideUp {
    animation: slideUpAnimation 0.3s ease-in forwards;
  }
  
  .slideDown {
    animation: slideDownAnimation 0.3s ease-out forwards;
  }
  
  /* Define keyframes for slide up animation */
  @keyframes slideUpAnimation {
    from {
      transform: translateY(50%);
    }
    to {
      transform: translateY(0%);
    }
  }
  
  /* Define keyframes for slide down animation */
  @keyframes slideDownAnimation {
    from {
      transform: translateY(-50%);
    }
    to {
      transform: translateY(0%);
    }
  }
  