.input_field{
  height: 70px;
  margin: 8px;
  border-radius: 15px;
  padding-left: 30px;
  font-size: 18px;
  color: black;
  background-color: white;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.8); /* Glowing effect */
}

.basvuru_title{
    font-size: 18px;
}


.text-field{
    height: 150px;
    margin: 2%;
    border-radius: 15px;
    border: 1px solid red;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 18px;
    color: black;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8); /* Glowing effect */

}

.cv_work_button {
    width: 300px;
    height: 80px;
    border-radius: 15px;
    color: white;
    font-family: 'Anybody', sans-serif;
    background: linear-gradient(317.85deg, #FA0000 -41.59%, rgba(250, 0, 0, 0) 143.46%);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8); /* Glowing effect */
    cursor: pointer;
    transition: all 0.3s ease; /* Add transition for smooth animation */
    }


.cv_work_button:hover {
    width: 320px;
    height: 80px;
    }

    

.Cv_Button{
    transition: all .3s;
    
}
    
.Cv_Button:hover {
    border-radius: 30%;
    box-shadow: 0 0 10px 10px rgb(247, 138, 138); /* Red border shadow */
    background-color: rgb(247, 138, 138);
}