


.iletisim_header{
    font-size: 20px;
    
}


.iletisim_label{
    font-size: 13px;
    font-family: 'Anybody-light', sans-serif; /* Use Gotham font */
    text-align: start;
    display: flex;
    align-items: center;

}

.iletisim_input_field{
    height: 70px;
    width: 95%;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 18px;
    color: black;
    background-color: white;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8); /* Glowing effect */
  }

  
.iletisim_submit_btn{
    height: 60px;
    width: 100%;
    border-radius: 15px;
    font-size: 22px;
    color: white;
    font-family: 'Anybody', sans-serif;
    background: linear-gradient(317.85deg, #FA0000 -41.59%, rgba(250, 0, 0, 0) 143.46%);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8); /* Glowing effect */
    transition: all;
  }

  .bilgi_input_field{
    height: 170px;
    width: 100%;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 18px;
    color: black;
    background-color: white;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8); /* Glowing effect */
  }

  .iletisim_work_button {
    width: 300px;
    height: 80px;
    border-radius: 15px;
    color: white;
    font-family: 'Anybody', sans-serif;
    background: linear-gradient(317.85deg, #FA0000 -41.59%, rgba(250, 0, 0, 0) 143.46%);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8); /* Glowing effect */
    cursor: pointer;
    transition: all 0.3s ease; /* Add transition for smooth animation */
    }


    .iletisim_submit_btn:hover{
      box-shadow: 0 0 20px rgba(255, 0, 0, 1); /* Glowing effect */
    }

.iletisim_work_button:hover {
    width: 320px;
    height: 80px;
    }

  .iletisim_map{
    border: 0;
    border-radius: 30px 0 30px 0;
    width: 100%;
    height: 405px;
  }

  @media (max-width: 601px) {


      .iletisim_submit_btn{
        height: 50px; 
      }

      
    .iletisim_input_field{

      font-size: 12px;

    }

      .bilgi_input_field{

        font-size: 12px;
      }
      

  }
