.paragraf {

    text-align: left;
    font-size: 20px;
    white-space: pre-line;
    font-family: 'Anybody-light', sans-serif;
    line-height: 1.2;

  }
  

  @media (max-width: 601px) {

    .paragraf {

        text-align: left;
        font-size: 15px;
        white-space: pre-line;
        font-family: 'Anybody-light', sans-serif;
        line-height: 1.2;
    
      }

  }
