.altlogo{
    height: 150px;
}

.kart_1 {
    height: 100%;
  }

.kart_2 {
    height: 100%;
    border-radius: 20px;

    }

.kart_3 {
  height: 100%;
    }


.footer_title{
    font-size: 40%;
}

.detay_title{
  font-size: 60%;
}

.redline_footer {
    padding: 4%;
    border: 2px solid transparent; /* To make sure the outline doesn't push the content */
    outline: 2px solid rgba(255, 0, 0, 0.42); /* Red outline */
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.486); /* Glowing effect */
    border-radius: 20px; /* Adjust the value as needed for the desired roundness */

  }

  .detay_button{
    width: 100%;
    background-color: grey;
    border-radius: 10px;
    opacity: 0.78;
    margin-bottom: 5px;
    height: 60px;
    font-size: 25px;
  }


  .footer_h1{
    font-size: 70%;

  }

  .footer_h2{
    font-size: 70%;
    display: block;
  }

  .footer_list{
    display: block;
  }

  ul {
    font-size: 40%;
    list-style-type: circle; /* or 'circle' or 'square' */
    margin-left: 10%;
  }


  p {
    text-align: left;
  }

  .yaprak{
    margin-top: 50%;
    height: 130px;
}

  .adres, .iletisim {
    width: 40%;
  }

  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
  .rotating {
    animation: rotate 2s linear infinite; /* Adjust duration and timing function as needed */
  }
  

  @media (max-width: 601px) {

    .altlogo{
        height: 75px;
    }

    .kart_1 {
        height: 250px;
      }
    
    .kart_2 {
        height: 70%;
        border-radius: 20px;
    
        }
    
    .kart_3 {
        height: 250px;
        }

    .footer_title{
      font-size: 50%;
    }

    .detay_title{
        font-size: 20px;
    }

    .yaprak{
        height: 50px;
    }

    .adres, .iletisim {
        width: 50%;
      }

      .detay_button{
        height: 40px;
      }

      .redline_footer {
        border-radius: 40px; /* Adjust the value as needed for the desired roundness */
    
      }

      .footer_h2{
        font-size: 35px;
        height: 60px;
        display: none;
      }

      .footer_list{
        display: none;
      }

      p {
        text-align: center;
      }


  }

