/* timeline.css */
.timeline {
    position: relative;
    width: 100%;
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: hidden; /* Hide vertical overflow */
    
  }
  
  .container_timer {
    display: flex;
    flex-direction: row; /* Adjusted to column layout by default */
    padding: 0%;
    margin: 0%;
    
  }
  
  
  .times{
    background-color:black;
  }
  
  /* Hide scrollbar */
  .timeline::-webkit-scrollbar {
    display: none;
  }
  
  .scroll-button {
    display: none; /* Hide scroll buttons */
  }
  

  .timer_button {
    opacity: 1;
    width: 400px;
    height: 600px;
    opacity: 1;
    border-radius: 50px 0 50px 0 ;
    transition: width 0.3s ease; /* Add transition property */
    background-color: rgba(146, 43, 43, 0.263);
    /* Add any other styles you need for your button */
  }

  
  .timer_headers {
    width: 400px; /* Without quotes */
  }
  
  .timeline_year {
    color: red;
    font-size: 150px;
 
  }

  .timeline_header {
    color: white;
    font-size: 40px;
 
  }

  .timeline_text {
    color: white;
    font-size: 20px;
    display: none;
 
  }

  
  .container_timer {
    flex-direction: row;

  }

  .timer_button:hover {
    background-image: none;
    background-color: grey; /* Change to any color you desire */
    width: 500px;
  }

  .timer_button:hover .timeline_year {
    color: white;
  }
  
  .timer_button:hover .timeline_text {
    display: block;
  }


  @media (max-width: 601px) {

    .container_timer {
      flex-direction: column; /* Adjusted to column layout by default */
    }

    .timer_button {
      opacity: 1;
      width: 80%;
      height: 100px;
      opacity: 1;
      border-radius: 50px 0 50px 0 ;
      transition: width 0.3s ease, height 0.3s ease;
      background-color: rgba(146, 43, 43, 0.263);
      /* Add any other styles you need for your button */
    }

    .timeline_year {
      color: red;
      font-size: 60px;
   
    }

    .timeline_header {
      color: white;
      font-size: 20px;;
   
    }
  
    .timeline_text {
      color: white;
      font-size: 13px;
   
    }

    .timer_button:hover {
      background-image: none;
      width: 90%;
      background-color: grey; /* Change to any color you desire */
      height: 300px;
    }



    .timer_headers {
      width: 100%; /* Without quotes */
    }
  }

