.timeline {
    display: flex;
    flex-direction: row; /* Initially display events in a horizontal line */
    flex-wrap: wrap; /* Allow events to wrap to the next line */
    position: relative; /* Relative position for positioning the dots */

  }
  
  .event {
    display: flex;
    align-items: center;
    position: relative; /* Relative position for positioning the dots */
    border-bottom: 20px solid #fff; /* Solid white line under the timeline */
  }
  
  .event-year {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .event-title {
    font-size: 16px;
  }
  
  .dot {
    position: absolute;
    bottom: -4px; /* Adjust the position of the dot */
    left: 50%; /* Place the dot in the center of the event */
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    background-color: #333; /* Color of the dot */
    border-radius: 50%; /* Make the dot round */
  }
  
  @media (max-width: 600px) {
    .timeline {
      flex-direction: column; /* Switch to vertical layout */
      align-items: flex-start; /* Align items to the start of the container */
    }
  
    .event {
      margin-right: 0; /* Remove right margin for vertical layout */
      margin-bottom: 20px; /* Add bottom margin for spacing between events */
    }
  }
  