body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: black; /* Set background color */
}


.App-container {
  max-width: 1800px; /* Set the maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
  text-align: center; /* Center the content inside the container */
}

.App {
  max-width: 100%; /* Set the maximum width for the App div */
  margin: 0 auto; /* Center the App div horizontally */
}




